extends layout

block content
  h1(id="newtitle")= title

  if (toShow == null)
    h2 No instance to delete

  - let houseid = toShow._id
  - let housetype = toShow.type
  - let housecolour = toShow.colour
  - let houserent = toShow.rent

  div
    div.row
      div(class='costumeAttr mr-3') house ID is:
      div(class='values specialstyles') #{houseid}
    div.row
      div(class='costumeAttr mr-3') house Type is:
      div(class="values") #{housetype}
    div.row
      div(class='costumeAttr mr-3') house colour is:
      div(class="values") #{housecolour}
    div.row
      div(class='costumeAttr mr-3') house rent is:
      div(class="values") #{houserent}