extends layout

block content
  h1= title
  - let house=results;
  div(class="container-fluid mt-3")
   div(class="row m-1")
    each form in house
     - let destination=`buy(\"/house/update?id=${form._id}\")`
     div(class="col-sm-6 bg-warning m-1 p-3") House #{form.type} - #{form.colour} - #{form.rent}
      button.btn( class="btn-primary ml-2", onclick=destination ) Update
  
   script.
    function buy(path){
        window.location.href=path

        //alert(`You purchased Item ${a+1}`)
      }